{% extends 'class/base.html' %}
{% load crispy_forms_tags %}
{% block class_link %}
<div class="navbar-nav ml-auto">
    <a class="nav-item nav-link active" href="{% url 'class' classname %}"><i class="fas fa-bars"></i>  Stream<span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="#"><i class="fas fa-file-signature"></i> Files</a>
    <a class="nav-item nav-link" href=""> <i class="fas fa-users"></i> People</a>
    <a class="nav-item nav-link" href=""  data-toggle="modal" data-target="#exampleModal">Leave Class <i class="fas fa-sign-out-alt"></i> </a>

  </div>
{% endblock %}
{% block content %}
  <div style="margin-top: 5vh;">
	  <div class="col-6" style="padding: 30px; background-color: #e2d1f1; border-radius: 10px; float: none;margin: 0 auto;">
      <h2>{{ assignmentDetail.title }}</h2>
      <span>Due: {{ assignmentDetail.deadline }}</span>
      <p>Description:</p>
      <p>{{ assignmentDetail.description }}</p>
      <form method="POST">
          {% csrf_token %}
          {{ form|crispy }}
          {% if user.is_teacher %}
          <div><button type="submit " class="btn btn-primary " style="width:100%; margin: 10px auto; background-color: #7C2CC4; border-color: #7C2CC4 " >Check Plagiarism </button></div>{% else %}
          <div><button type="submit " class="btn btn-primary " style="width:100%; margin: 10px auto; background-color: #7C2CC4; border-color: #7C2CC4 " >Submit </button></div>{% endif %}
      </form>
    </div>
  </div> <br>
  <div>
    {% if user.is_teacher %}
	  <div class="col-6" style="padding: 30px; background-color: #e2d1f1; border-radius: 10px; float: none;margin: 0 auto;">
		  {% for i in classWork%}
		  <span>{{ i.student.name }}</span>
		  <div>{{i.work}}</div>
		  <div>{{i.uploaded_at}}</div>
		  {% endfor %}
	  </div>{% endif %}

  </div>
  
{% endblock %}