{% extends 'classbase.html' %}
{% block class_link %}
<div class="navbar-nav ml-auto">
    <a class="nav-item nav-link" href="{% url 'class' classname %}"><i class="fas fa-bars"></i>  Stream<span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="{% url 'assignment-list' classname %}"><i class="fas fa-file-signature"></i> Assignments</a>
    <a class="nav-item nav-link active" href="{% url 'people' classname %}"> <i class="fas fa-users"></i> People</a>
    <a class="nav-item nav-link" href="{% url 'leave' classname %}" data-toggle="modal" data-target="#exampleModal">Leave Class <i class="fas fa-sign-out-alt"></i> </a>

</div>
{% endblock %}

{% block content %}

    <div class = "mt-3" >
        <div class="col-11 main_box" style="margin-left:60px ; background-color: #e2d1f1; border-radius: 10px; padding: 20px;">
            <h3>Teachers</h3>
            <ul>
                
                {% for teacher in teachers %}
    
                    <div class="col box m-2 p-3">
                        <img src="{{teacher.teacher.image.url}}" alt="" style="width: 40px; height: 40px; border-radius: 20px;">                        <h5 class="text" style="display: inline;">{{ teacher.teacher }}</h5>
                    </div>
                {% endfor %}
            </ul>
        </div><br>

        <div class="col-11 main_box" style="margin-left:60px ; background-color: #e2d1f1; border-radius: 10px; padding: 20px;">
            <h3>Students</h3>
            <ul>
                {% for student in students %}
                <div class="col box m-2 p-3">
                    <img src="{{student.student.photo.url}}" style="width: 40px; height: 40px; border-radius: 20px;">
                    <h5 class="text" style="display: inline;">{{ student.student.name }}</h5>
                </div>
                {% endfor %}
            </ul>
        </div>
    </div>
    
{% endblock %}

