{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ user.student.name }} | Meet Classroom 
{% endblock %} 
{% block css %}
<style>
    .class-container{
        display: flex;
        flex-direction: row; 
        
    } 
</style> 

{% endblock %}
{% block content %}
    <div class="col" style="margin-top:30px; margin:0;">
        <div class="messages" style="position: absolute; top:12%; left:70%; z-index: 1;">
            {% for message in messages %}
            <div class="alert alert-primary" {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
    
            {% endfor %}
        </div>
        {% if user.is_teacher %}
            <div style="margin-top: 20px">
                <a href = "{% url 'explore' %}" class = "btn btn-primary" href="">Explore</a>
            </div>
        {% endif %}
        {% if classes %}
        <div class="row class-container" style="margin-top: 20px">
            {% for class in classes %}
            <div class="m-3 class_box" style="padding: 0; width: 30%;">
                <div>
                    <img src="{% static 'others/class.jpg' %}" alt="" style="height: 100px;">
                </div>
                <div style="padding: 15px;">
                    <!-- <img src="https://www.pngarts.com/files/11/Avatar-PNG-Transparent-Image.png" class="img" alt="" style="top: 39.5%;"> -->
        
                    <h4>{{ class.0.className }}</h4>
                    <span>{{ class.0.classSection }}</span>
                    <br>
                    <a href="{% url 'class' class.0.className %}" style="color: #7C2CC4;"> View Class </a>
                    <hr>
                        <h6>Teachers</h6>
                        {% for i in class.1 %}
                            <div>{{ i.teacher }}</div>
                        {% endfor %}
                </div>
               
            </div>
        
            {% endfor %}
        </div>
        {% else %}
        <div style="width: fit-content; margin: 0 auto;">
            {% if user.is_student %}<img src="{% static 'others/studentback.jpeg' %}">{% else %}
            <img src="{% static 'others/teacherback.jpeg' %}">{% endif %}
            {% if user.is_teacher %}
            <a class="dropdown-item btn btn-info" style="background-color: #7C2CC4; border-color: #7C2CC4; color: white; width: fit-content; margin: 0 auto;" href="{% url 'create-class' %}">Create Class</a> {% else %}
            <a class="dropdown-item btn btn-info" style="background-color: #7C2CC4; border-color: #7C2CC4; color: white; width: fit-content; margin: 0 auto;" href="{% url 'join' %}">Join Class</a> {% endif %}
        </div>
        {% endif %}
        
    </div>
    {% endblock %}


